@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

.search {
  outline: none;
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 3px solid #203239;
  font-size: 2.4rem;
  padding: 0 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  transition: box-shadow ease-in 0.2s;
}

.form {
  display: flex;
  margin-bottom: 1.8rem;
}

.form button {
  outline: none;
  border: none;
  background-color: #203239;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background ease-in 0.15s;
}

.form button:hover {
  background: #203239e8;
}

.search:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: 1.8rem;
}

@media (max-width: 960px) {
  .search {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search {
    width: 100%;
    font-size: 2rem;
  }
}
